#set page(paper: "a4")
#set par(spacing: 1.5em)
#show link: underline
#set heading(bookmarked: true, numbering: "1.")
#show raw.where(block: true): it => block(fill: luma(95%), radius: 4pt, width: 100%, inset: 4pt, it)

{%- if title %}
#align(center)[
  #set text(size: 20pt, weight: "bold")
  {{ title }}
]
#v(1em)
{% endif -%}

{%- if abstract %}
#align(center)[
  #set text(size: 12pt, style: "italic")
  {{ abstract }}
]
#v(2em)
{% endif -%}

{%- for node in nodes %}
{%- if node.type == "text" %}
{{ node.text }}
{% elif node.type == "image" %}
#image("screenshots/{{ node.screenshotId }}.png")
{% else %}
> ERROR: Unknown Node
{% endif -%}
{% endfor -%}

{%- if footnote %}
#v(2em)
#[
  #set text(size: 12pt, style: "italic")
  {{ footnote }}
]
{% endif -%}
