{%- if title %}
# {{ title }}
{% endif -%}

{%- if abstract %}
{{ abstract }}
{% endif -%}

{%- for node in nodes %}
{%- if node.type == "text" %}
{{ node.text }}
{% elif node.type == "image" %}
![](screenshots/{{ node.screenshotId }}.png)
{% else %}
> ERROR: Unknown Node
{% endif -%}
{% endfor -%}

{%- if footnote %}
{{ footnote }}
{% endif -%}